* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: rgb(25, 25, 25);
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
}

#tag-panel {
  display: flex;
  height: fit-content;
  flex-direction: row;
  margin-block: 0.5vw;
  margin-inline: auto;
  gap: 0.25rem;
}

.tag {
  padding: 0.1rem 0.2rem;
  border: solid grey 1px;
  background-color: rgba(100, 150, 150, 0.9);
  font-size: 1.4rem;
  user-select: none;
}

#photo-list {
  display: flex;
  flex-direction: row;
  margin-inline: auto;
}

#photo-list img {
  max-width: calc(85vh / (3/4));
  max-height: 85vh;
  width: 72vw;
  height: 54vw;
}

#list {
  display: flex;
  flex-direction: column;
  max-height: 85vh;
  height: 54vw;
  gap: 0.25rem;
  padding-inline: 0.25rem;
  overflow: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

#list img {
  max-height: calc(85vh / 4);
  max-width:  calc((85vh / 4) / (3/4));
  width: calc(70vw / 4);
  height: calc((70vw / 4)/ (3/4));
}

@media (width < 900px) {
  #photo-list {
  display: flex;
  flex-direction: column;
}
  #photo-list img {
    width: 96vw;
    height: 72vw;
}
  #list {
    padding-top: 0.25rem;
    height: 50vh;
    width: 96vw;
    max-width: calc(85vh / (3/4));
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(197, 176, 218, 0.195);
    justify-content: center;
  }

  #list img{
    width: calc(92vw / 3);
    max-width: calc(90vw / 3);
    height: calc((92vw / 3)/ (4/3));
    max-height: calc((90vw / 3)/ (4/3));
  }
}
