* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  border-radius: 0.5rem;
}
body {
  background-color: rgb(25, 25, 25);
  width: 100vw;
  height: 100vh;
  margin: auto;
  position: fixed;
}

#navpanel {
margin: auto;
margin-top: 0.5rem;
width: fit-content;
display: flex;
flex-direction: row;
border: #a7b20f3e 1px solid;
background-color: rgba(240, 255, 255, 0.05);
padding: 0rem 0.5rem;
}

.tab {
  margin: 0.5rem 0.25rem;
  font-size: 1.5vw;
  padding: 0.25rem 0.5rem;
  background-color: #a7b20f66;
  border: #a7b20f5a 1px solid;
  width: fit-content;
  user-select: none;
  cursor: pointer;
  &:hover {
    background-color: #818a0b;
    border: #000000a2 1px solid;
  }
}

.current {
  background-color: #8a5b0b;
  border: #000000a2 1px solid;
}

#mainpanel {
  margin: auto;
  margin-top: 0.5rem;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.5rem;
  border: #a7b20f3e 1px solid;
  background-color: rgba(240, 255, 255, 0.05);
}

.zoomed {
  height: 55vw;
  max-height: 80vh;
  border: #a7b20f3e 1px solid;
}

#panel {
  height: 55vw;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  width: fit-content;
  overflow: hidden;
  overflow-y: scroll;
  gap: 0.3rem;
  border: #a7b20f3e 1px solid;
  background-color: rgba(240, 255, 255, 0.05);
  padding: 0.5rem;
  &::-webkit-scrollbar {
    display: none;
  }
}

#panel > img {
  width: 12vw;
  cursor: pointer;
}

.jpeg {
  border: #a7b20f3e 1px solid;
}

@media (max-width: 1080px) {
  #mainpanel {
    flex-direction: column;
  }

  .zoomed {
    width: 90vw;
    height: fit-content;
  }

  #panel {
    flex-direction: row;
    height: fit-content;
    width: 90vw;
  }
  .tab {
    font-size: 3vw;
  }
  #panel > img {
    width: 20vw;
  }
}
